/.cproject
/.project
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config
/config.log
/config.status
/configure
/libtool
.deps
.libs
.dirstamp
*.lo
*.o
/config.h
/config.h.in
/stamp-h1
/gtest
/libtrans.la
/trans
