/build
/build-fuzz
/build-release
/output
/logs
/fuzz_out
CMakeCache.txt
/compile_commands.json
/test/programs/**/*.o
/test/programs/**/*.S
/test/programs/**/*.i
/test/programs/**/*.out
/test/programs/**/*.execution.output
/test/programs/tmp/
/.clangd
/.project
/.vscode
/.cache
/.grok
