*.o
*.lo
/.cproject
/.project
/.settings
.deps
/Makefile.in
/Makefile
/aclocal.m4
/autom4te.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/trans
/config.h.in~
/output
/build
.dirstamp
/gtest
/gtest.log
/gtest.trs
/test-driver
/test-suite.log
/.libs
/config.guess
/config.sub
/libtool
/libtrans.la
/ar-lib
/ltmain.sh
